<div class="login-container">
    <h1 class="login-title">🔑 Event Organizer Login</h1>
  
    <div class="organizer-log">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
        
        <div class="form-group">
          <label for="username">👤 Username: </label>
          <input id="username" formControlName="username" required class="input-field" />
          <div class="error" *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
            Username cannot be empty!
          </div>
        </div>
  
        <div class="form-group">
          <label for="email">📧 Email Address: </label>
          <input id="email" formControlName="email" type="email" required class="input-field" />
          <div class="error" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
            Please enter a valid email address!
          </div>
        </div>  
  
        <div class="form-group">
          <label for="password">🔒 Password: </label>
          <input id="password" formControlName="password" type="password" required class="input-field" />
          <div class="error" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
            Password is required!
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
  
        <button type="submit" class="login-button" [disabled]="registerForm.invalid">🚀 Login</button>
  
      </form>
    </div>
  </div>
  


