<div class="organizer-container">
    <h1>Event Organizer Dashboard</h1>

    <div class="button-group">
        <button routerLink="/event-creation" class="btn primary">
            Create Event
        </button>

        <button routerLink="/event-list" class="btn secondary">
            View Event List
        </button>

        <button routerLink="/analytic-report" class="btn danger">
            Analytic Report
        </button>

        <button (click)="logout()" class="btn logout">
            Logout
        </button>
    </div>
</div>